
<nav class="navbar">
  <ul class="navbar-group">
    <li>
      <a class="navbar-item <%= navItem === 'timerHome' ? 'navbar-highlight' : 'nav-link' %>" href="/">Home</a>
    </li>
    <li>
      <a class="navbar-item <%= navItem === 'timerCreate' ? 'navbar-highlight' : 'nav-link' %>" href="/create">New timer</a>
    </li>
  </ul>
  <ul class="navbar-group">
    <li>
      <% if (user) { %>
      <a class="navbar-item <%= navItem === 'profile' ? 'navbar-highlight' : 'nav-link' %>" href="/profile">
          <%= user.name %>
      </a>
      <% } else { %>
      <a class="navbar-item <%= navItem === 'login' ? 'navbar-highlight' : 'nav-link' %>" href="/auth/login">Login</a>
      <% } %>
    </li>
  </ul>
</nav>