<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
  <link rel="stylesheet" href="/css/table.css" type="text/css">
</head>
<body class="body-container">

<header>
  <%- include('./partials/header', {navItem: 'profile'}); %>
</header>

<main>
  <div class="content-container">
    <div class="space-between-row vertical-align-content">
      <h1>Welcome to your profile, <%= user.name.split(' ').shift() %></h1>
      <div class="center-row-container">
        <div><button class="btn" onClick="deleteUser()">Delete user</button></div>
        <div><a href="/auth/logout"><button class="btn">Logout</button></a></div>
      </div>
    </div>
    <!-- <div>
      <div class="space-between-row">
        <div class="timer-find">
            <input id="inputTimerSearchString" type="text" class="input-text">
            <button class="btn" onClick="searchTimer()">Search</button>
        </div>
        <div><a href="/create"><button class="btn">New timer</button></a></div>
      </div>
    </div> -->
    <% if (timers.length !== 0) { %>
      <div class="">
        <table id="timerListId" class="">
          <caption>Your timers</caption>
          <thead>
            <tr>
              <th scope="col">Timer name</th>
              <th class="hide-on-mobile" scope="col">Code</th>
              <th scope="col">Round duration</th>
              <th scope="col">Buffer duration</th>
              <th scope="col">Status</th>
              <th class="hide-on-mobile" scope="col">Round</th>
            </tr>
          </thead>
          <tbody id="timerTable">
            <% for (var i=0; i<timers.length; i++) { %>
              <tr style=" cursor: pointer;">
                <td><%= timers[i].timer_name %></td>
                <td class="hide-on-mobile"><%= timers[i].timer_code %></td>
                <td><%= timers[i].timerDurationText %></td>
                <td><%= timers[i].bufferDurationText %></td>
                <td><%= timers[i].status %></td>
                <td class="hide-on-mobile"><%= timers[i].round %></td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
    <% } %>
  </div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>

<script>
  let loaderEl = document.getElementById("loader");
  addRowHandlers();

  function addRowHandlers() {
  let table = document.getElementById("timerListId");
  if (!table) {return};
  let rows = table.getElementsByTagName("tr");
  for (i = 0; i < rows.length; i++) {
    let currentRow = table.rows[i];
    let createClickHandler = function(row) {
      return function() {
        let cell = row.getElementsByTagName("td")[1];
        let code = cell.innerHTML;
        location.href = '/' + code;
      };
    };
    currentRow.onclick = createClickHandler(currentRow);
  }
}

async function deleteUser() {
    if (confirm("Are you sure you wish to delete your user?") === false) {
      showToast("Action canceled")
      return;
    }
    // Delete user
    showLoader();
    let deleteResponse = await deleteData('/profile');  
    hideLoader();
    if (deleteResponse.status === 200) {
      window.location.href = '/';
    } else {
      alert('Failed to delete user');
    }
  }

  function showLoader() {
    loaderEl.classList.remove('display-none');
  }

  function hideLoader() {
    loaderEl.classList.add('display-none');
  }
</script>