<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/css/table.css" type="text/css">
</head>
<body class="body-container">

<header>
  <%- include('../partials/header', {navItem: 'timerHome'}); %>
</header>

<main>
  <div class="content-container">
    <div>
      <div class="space-between-row">
        <div class="timer-find">
            <input id="inputTimerSearchString" type="text" class="input-text">
            <label for="inputTimerSearchString">
              <button class="btn" onClick="searchTimer()">Search</button>
            </label>
        </div>
        <div><a href="/create"><button class="btn">New timer</button></a></div>
      </div>
    </div>
    <div class="">
      <table id="popularTimerListId" class="">
        <caption>Popular timers</caption>
        <thead>
          <tr>
            <th scope="col">Timer name</th>
            <th scope="col">Code</th>
            <th scope="col">Round duration</th>
            <th scope="col">Buffer duration</th>
            <th scope="col">Status</th>
            <th scope="col">Round</th>
          </tr>
        </thead>
        <tbody id="popularTimerTable">
          <% for (var i=0; i<popularTimers.length; i++) { %>
            <tr style=" cursor: pointer;">
              <td><%= popularTimers[i].timer_name %></td>
              <td><%= popularTimers[i].timer_code %></td>
              <td><%= popularTimers[i].timerDurationText %></td>
              <td><%= popularTimers[i].bufferDurationText %></td>
              <td><%= popularTimers[i].status %></td>
              <td><%= popularTimers[i].round %></td>
            </tr>
        <% } %>
        </tbody>
      </table>
      <% if (newTimers.length) { %>
      <table id="newTimerListId" class="">
        <caption>New timers</caption>
        <thead>
          <tr>
            <th scope="col">Timer name</th>
            <th scope="col">Code</th>
            <th scope="col">Round duration</th>
            <th scope="col">Buffer duration</th>
            <th scope="col">Status</th>
            <th scope="col">Round</th>
          </tr>
        </thead>
        <tbody id="newTimerTable">
          <% for (var i=0; i<newTimers.length; i++) { %>
            <tr style=" cursor: pointer;">
              <td><%= newTimers[i].timer_name %></td>
              <td><%= newTimers[i].timer_code %></td>
              <td><%= newTimers[i].timerDurationText %></td>
              <td><%= newTimers[i].bufferDurationText %></td>
              <td><%= newTimers[i].status %></td>
              <td><%= newTimers[i].round %></td>
            </tr>
        <% } %>
        </tbody>
      </table>
      <% } %>
      <table id="timerListId" class="">
        <caption>Recently used timers</caption>
        <thead>
          <tr>
            <th scope="col">Timer name</th>
            <th scope="col">Code</th>
            <th scope="col">Round duration</th>
            <th scope="col">Buffer duration</th>
            <th scope="col">Status</th>
            <th scope="col">Round</th>
          </tr>
        </thead>
        <tbody id="timerTable">
          <% for (var i=0; i<timers.length; i++) { %>
            <tr style=" cursor: pointer;">
              <td><%= timers[i].timer_name %></td>
              <td><%= timers[i].timer_code %></td>
              <td><%= timers[i].timerDurationText %></td>
              <td><%= timers[i].bufferDurationText %></td>
              <td><%= timers[i].status %></td>
              <td><%= timers[i].round %></td>
            </tr>
        <% } %>
        </tbody>
      </table>
    </div>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>

<script>
  initialize();

  function initialize() {
    addRowHandlers("timerListId");
    addRowHandlers("popularTimerListId");
    addRowHandlers("newTimerListId");

    
    let newTimerListEl = document.getElementById("newTimerListId");
    let popularTimerListEl = document.getElementById("popularTimerListId");
  }

  function searchTimer() {
    let timerTableEl = document.getElementById("timerTable");
    let searchString = document.getElementById('inputTimerSearchString').value;
    console.log("Executing timer search with string: " + searchString);
    getData('/search?filters[timerName]=' + searchString).then(timers => {
      console.log("Search returned " + timers.length + " timers");
      timerTableEl.innerHTML = "";
      let timerLineEl = document.createElement("tr");
      timerLineEl.style.cursor = "pointer";
      for (let i = 0; i < timers.length; i++) {
        timerLineEl.innerHTML = "";
        timerLineEl.appendChild(createTableFieldElement(timers[i].timer_name));
        timerLineEl.appendChild(createTableFieldElement(timers[i].timer_code));
        timerLineEl.appendChild(createTableFieldElement(timers[i].timerDurationText));
        timerLineEl.appendChild(createTableFieldElement(timers[i].bufferDurationText));
        timerLineEl.appendChild(createTableFieldElement(timers[i].status));
        timerLineEl.appendChild(createTableFieldElement(timers[i].round));
        timerTableEl.appendChild(timerLineEl.cloneNode(true));
      }
      addRowHandlers("timerListId");
      addRowHandlers("popularTimerListId");
    });
  }
  
  function createTableFieldElement(value) {
    let tableFieldEl = document.createElement("td");
    tableFieldEl.innerText = value;
    return tableFieldEl;
  }

  function addRowHandlers(tableElId) {
  var table = document.getElementById(tableElId);
  var rows = table.getElementsByTagName("tr");
  for (i = 0; i < rows.length; i++) {
    var currentRow = table.rows[i];
    var createClickHandler = function(row) {
      return function() {
        var cell = row.getElementsByTagName("td")[1];
        var code = cell.innerHTML;
        location.href = '/' + code;
      };
    };
    currentRow.onclick = createClickHandler(currentRow);
  }
}

// Enable search on Enter keypress<
document.getElementById("inputTimerSearchString").addEventListener("keydown", (event) => {
  let activeElId = document.activeElement.id;
  if (event.keyCode === 13) { // 13 = enter
    searchTimer();
  }
})

</script>