<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="body-container">

<header>
  <%- include('../partials/header', {navItem: 'timerCreate'}); %>
</header>

<main>
  <div class="content-container">
    <div class="center-col-container">
      <div class="new-timer-input-container"> 
        <div class="center-row-container"> 
          <% if(user){ %>
            <input id="timerNameInput" type="text" class="input-text full-width" placeholder="<%= user.name.split(' ').shift() %>'s timer">
          <% } else { %>  
            <input id="timerNameInput" type="text" class="input-text full-width" placeholder="Timer name">
         <% } %>
        </div>
        <div class="center-row-container vertical-margin">
          <%- include('../partials/timer-input'); %>
        </div>
        <div>
          <div class="switch-container">
            <p>Public</p> 
            <label class="switch">
              <input id="isPublic" type="checkbox" checked>
              <span class="slider"></span>
            </label>
          </div>  
          <hr class="solid">
        </div>
        <div>
          <div class="switch-container">
            <p>Single countdown</p> 
            <label class="switch">
              <input id="singleCountdown" type="checkbox">
              <span class="slider"></span>
            </label>
          </div>  
          <hr class="solid">
        </div>
        <div id="rotateBackgroundColorContainer">
          <div class="switch-container">
            <p>Rotate timer color</p> 
            <label class="switch">
              <input id="rotateBackgroundColor" type="checkbox" checked>
              <span class="slider"></span>
            </label>
          </div>
          <hr class="solid">
        </div>
        <div class="switch-container" id="mainColorContainer">
          <p>Main color</p> 
          <input id="mainColorInput" type="color" value="#93ff9f">
        </div>  
        <div class="switch-container" id="secondaryColorContainer">
          <p>Secondary color</p> 
          <input id="secondaryColorInput" type="color" value="#93b5ff">
        </div>  
        <div class="switch-container" id="bufferColorContainer">
          <p>Buffer color</p> 
          <input id="bufferColorInput" type="color" value="#fffb80">
        </div>  
        <div class="center-row-container">
          <button class="btn center-self" onclick="createNewTimer()">Create timer</button>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>

<script>
  let user = { 
    id: null,
    name: null
  };
  let userJson = '<%- JSON.stringify(user) %>';
  if (userJson) {
    user = JSON.parse(userJson); 
  }
  console.log(user);

  let rotateBackgroundColorEl = document.getElementById("rotateBackgroundColor");
  let rotateBackgroundColorContainerEl = document.getElementById("rotateBackgroundColorContainer");
  let singleCountdownEl = document.getElementById("singleCountdown");
  let mainColorContainerEl = document.getElementById("mainColorContainer");
  let secondaryColorContainerEl = document.getElementById("secondaryColorContainer");
  let bufferColorContainerEl = document.getElementById("bufferColorContainer");
  let bufferColorInputEl = document.getElementById("bufferColorInput");  
  let loaderEl = document.getElementById("loader");


  rotateBackgroundColorEl.addEventListener("change", toggleRotateBackgroundColor);
  singleCountdownEl.addEventListener("change", toggleSingleCountdown);

  // Initialization
  toggleRotateBackgroundColor();
  toggleSingleCountdown();

  function toggleRotateBackgroundColor() {
    if (rotateBackgroundColorEl.checked) {
      secondaryColorContainerEl.classList.remove("display-none");
    } else {
      secondaryColorContainerEl.classList.add("display-none");
    }
  }

  function toggleSingleCountdown() {
    if (singleCountdownEl.checked) {
      secondaryColorContainerEl.classList.add("display-none");
      bufferColorContainerEl.classList.add("display-none");
      rotateBackgroundColorContainerEl.classList.add("display-none");
      rotateBackgroundColorEl.checked = false;
    } else {
      secondaryColorContainerEl.classList.remove("display-none");
      bufferColorContainerEl.classList.remove("display-none");
      rotateBackgroundColorContainerEl.classList.remove("display-none");
    }
  }
  
  function showLoader() {
    loaderEl.classList.remove('display-none');
  }

  function hideLoader() {
    loaderEl.classList.add('display-none');
  }

  function createNewTimer() {
    let timer = parseInt(document.getElementById('timerMin').innerText) * 60 + parseInt(document.getElementById('timerSec').innerText);
    let buffer = parseInt(document.getElementById('bufferMin').innerText) * 60 + parseInt(document.getElementById('bufferSec').innerText);
    let rotateBackgroundColor = document.getElementById('rotateBackgroundColor').checked;
    let singleCountdown = document.getElementById('singleCountdown').checked;
    let isPublic = document.getElementById('isPublic').checked;
    let timerName = document.getElementById('timerNameInput').value;
    
    let mainColor = document.getElementById("mainColorInput").value;
    let secondaryColor = document.getElementById("secondaryColorInput").value;
    let bufferColor = document.getElementById("bufferColorInput").value;

    if (timer === 0 && buffer === 0) {
      showToast("Timer cannot be 00:00")
      return;
    }

    if (timerName === '') {
      if (user.name) {
        timerName = user.name.split(' ').shift() + `'s timer`;
      } else {
        timerName = 'New timer';
      }
    }

    let timerData = {
      userId: user.id,
      timer: timer,
      name: timerName,
      buffer: buffer,
      isPublic: isPublic,
      rotateBackgroundColor: rotateBackgroundColor,
      singleCountdown: singleCountdown,
      mainColor: mainColor,
      secondaryColor: secondaryColor,
      bufferColor: bufferColor
    };
    console.log({timerData});
    showLoader();
    postData('/create', timerData).then(response => {
      hideLoader();
      if (response.timer_code) { // bakendi skilar timerData ef insert var successfull
        window.location.href = '/' + response .timer_code;
      } else {
        alert('creation failed')
      }
      console.log(response); // JSON data parsed by `data.json()` call
    });
  }
</script> 