<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="body-container">

<header>
  <%- include('../partials/header', {navItem: 'timerCreate'}); %>
</header>

<main>
  <div class="content-container">
    <div class="center-col-container">
      <div class="new-timer-input-container"> 
        <div class="center-row-container"> 
          <input id="timerNameInput" type="text" class="input-text full-width" placeholder="<%= user.name.split(' ').shift() %>'s timer">
        </div>
        <div class="center-row-container vertical-margin">
          <%- include('../partials/timer-input'); %>
        </div>
        <div class="switch-container">
          <p>Rotate timer color</p> 
          <label class="switch">
            <input id="rotateBackgroundColor" type="checkbox" checked>
            <span class="slider"></span>
          </label>
        </div>
        <div class="switch-container">
          <p>Visibile for everyone</p> 
          <label class="switch">
            <input id="isPublic" type="checkbox" checked>
            <span class="slider"></span>
          </label>
        </div>  
        <div class="center-row-container">
          <button class="btn center-self" onclick="createNewTimer()">Create timer</button>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
<script src="/scripts/socket.io.js"></script>
<script>
  var socket = io();
</script>
</body>
</html>

<script>
  var user = <%- JSON.stringify(user) %>;
  console.log(user);

  function createNewTimer() {
    console.log(document.getElementById('timerMin'));
    let timer = parseInt(document.getElementById('timerMin').innerText) * 60 + parseInt(document.getElementById('timerSec').innerText);
    let buffer = parseInt(document.getElementById('bufferMin').innerText) * 60 + parseInt(document.getElementById('bufferSec').innerText);
    let rotateBackgroundColor = document.getElementById('rotateBackgroundColor').checked;
    let isPublic = document.getElementById('isPublic').checked;
    let timerName = document.getElementById('timerNameInput').value;
    if (timerName === '') {
      timerName = user.name.split(' ').shift() + `'s timer`;
    }

    let timerData = {
      userId: user.id,
      timer: timer,
      name: timerName,
      buffer: buffer,
      rotateBackgroundColor: rotateBackgroundColor,
      isPublic: isPublic
    };
    console.log({timerData});
    postData('/create', timerData).then(returnData => {
      if (returnData) { // bakendi skilar timerData ef insert var successfull
        window.location.href = '/' + returnData.timer_code;
      } else {
        alert('creation failed')
      }
      console.log(returnData); // JSON data parsed by `data.json()` call
    });

/*
    fetch("/timer/create", {
      method: "POST",
      headers: {"Content-Type": "application/json"}, 
      body: {"text": "Biggi er bestur"}
    }).then(res => {
      console.log("Request complete! response:", res);
    }); */
  }
</script> 