<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="body-container">

<header>
  <%- include('../partials/header', {navItem: 'timerCreate'}); %>
</header>

<main>
  <div class="content-container">
    <div class="center-col-container">
      <div class="new-timer-input-container"> 
        <div class="center-row-container"> 
          <% if(user){ %>
            <input id="timerNameInput" type="text" class="input-text full-width" placeholder="<%= user.name.split(' ').shift() %>'s timer">
          <% } else { %>  
            <input id="timerNameInput" type="text" class="input-text full-width" placeholder="Timer name">
         <% } %>
        </div>
        <div class="center-row-container vertical-margin">
          <%- include('../partials/timer-input'); %>
        </div>
        <div class="switch-container">
          <p>Rotate timer color</p> 
          <label class="switch">
            <input id="rotateBackgroundColor" type="checkbox" checked>
            <span class="slider"></span>
          </label>
        </div>
        <hr class="solid">
        <div class="switch-container">
          <p>Public</p> 
          <label class="switch">
            <input id="isPublic" type="checkbox" checked>
            <span class="slider"></span>
          </label>
        </div>  
        <div class="center-row-container">
          <button class="btn center-self" onclick="createNewTimer()">Create timer</button>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>

<script>
  let user = { 
    id: null,
    name: null
  };
  let userJson = '<%- JSON.stringify(user) %>';
  if (userJson) {
    user = JSON.parse(userJson); 
  }
  console.log(user);

  function createNewTimer() {
    console.log(document.getElementById('timerMin'));
    let timer = parseInt(document.getElementById('timerMin').innerText) * 60 + parseInt(document.getElementById('timerSec').innerText);
    let buffer = parseInt(document.getElementById('bufferMin').innerText) * 60 + parseInt(document.getElementById('bufferSec').innerText);
    let rotateBackgroundColor = document.getElementById('rotateBackgroundColor').checked;
    let isPublic = document.getElementById('isPublic').checked;
    let timerName = document.getElementById('timerNameInput').value;
    if (timerName === '') {
      if (user.name) {
        timerName = user.name.split(' ').shift() + `'s timer`;
      } else {
        timerName = 'New timer';
      }
    }

    let timerData = {
      userId: user.id,
      timer: timer,
      name: timerName,
      buffer: buffer,
      rotateBackgroundColor: rotateBackgroundColor,
      isPublic: isPublic
    };
    console.log({timerData});
    postData('/create', timerData).then(response => {
      if (response.timer_code) { // bakendi skilar timerData ef insert var successfull
        window.location.href = '/' + response .timer_code;
      } else {
        alert('creation failed')
      }
      console.log(response); // JSON data parsed by `data.json()` call
    });
  }
</script> 