<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header', {navItem: 'my-comp'}); %>
</header>

<main>
  <div class="jumbotron">
    <div class="comp-list">
      <table id="compListId" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i=0; i<comps.length; i++) { %>
            <tr style=" cursor: pointer;">
              <th scope="row"><%= i+1 %></th>
              <td style="display:none"><%= comps[i].id %></td>
              <td><%= comps[i].name %></td>
              <td><%= comps[i].date %></td>
              <td><%= comps[i].type %></td>
              <td><%= comps[i].description %></td>
            </tr>
        <% } %>
        </tbody>
      </table>
    </div>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>

<script>
  addRowHandlers();

  function addRowHandlers() {
  var table = document.getElementById("compListId");
  var rows = table.getElementsByTagName("tr");
  for (i = 0; i < rows.length; i++) {
    var currentRow = table.rows[i];
    var createClickHandler = function(row) {
      return function() {
        var cell = row.getElementsByTagName("td")[0];
        var id = cell.innerHTML;
        location.href = '/comp/' + id;
      };
    };
    currentRow.onclick = createClickHandler(currentRow);
  }
}
</script>